:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: ;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.cv {
  border: 2px solid #213547;
  width: 400px;
  padding: 50px;
  font-weight: bold;
  border-radius: 16px;
}
h1 {
  font-size: 1.8rem;
  line-height: 1.1;
}

section > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

input {
  padding: 1px 8px;
}
