:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.cv {
  border: 1px solid black;
  width: 400px;
  padding: 30px;
  font-weight: bold;
}
h1 {
  font-size: 1.9rem;
  line-height: 1.1;
}

section > form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}

